<%- include('partials/header') -%>

<!-- <main class="home container-fluid">
    <div class="row justify-content-around mt-5">
        <h1>Preserving our roots through the lens of food</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem culpa amet voluptatum autem nihil quo repudiandae placeat natus dolor sit!</p>
        <a href="/signup" class="col-3 btn btn-primary"> Signup for Comal</a> -->
        <!-- <a href="/login" class="col-3 btn btn-primary"> Login</a> -->
    <!-- </div>
</main> -->

<!-- <header class="page-header gradient">
    <div class="container pt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <h1>Preserving our roots through the lens of food</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur libero a, modi possimus iste impedit repellendus voluptate alias odit numquam unde quod consequuntur corporis dicta?
          </p>
          <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
            Signup for Comal
          </a>
        </div>
        <div class="col-md-5">
          <img
            src="/imgs/Mask-Group-72.png"
            alt="Header image"
          />
        </div>
      </div>
    </div>
  </header> -->


  <div class="container col-xxl-8 px-4 py-5 card-container reduce hide-e up">
    <div class="row hide-f flex-lg-row-reverse align-items-center g-5 py-5 widen">
      <div class="col-10 col-sm-8 col-lg-6 hide-e to-right ">
        <img src="/imgs/brunch.jpg" class="d-block mx-lg-auto img-fluids" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
        
      </div>
      <div class="col-lg-6 hide-g widen-left">
        <h1 class="display-7 fw-bold lh-2 mb-5 good-idea ">Dubai is always a good idea</h1>
        <p class="lead blockk hide-h">Sharing your favourite restaurants/cafes with friends and family has never been easier.</p>
        <p class="lead blockk hide-h hide-g">Create personalised recommendations and explore the food feed to add new experiences to your "I plan to go" list.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5" >
          <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
            Signup for foodstacks
          </a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>

  
  
    

<%- include('partials/footer') -%>