
html,
body {
    height: 100%;
    font-size: 1rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.card-container{
  margin-top: 10rem;  
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
}

.img-fluid {
    border-radius: 22%;
   width: 400px;
   height: 550px
}

.img-fluids {
    border-radius: 20%;
    width: 100%;
    max-width: 600px;
  height: auto;
}
/* .page-section {
    background-color: red;
    height: 40%;
} */

.btn-nav{
    margin-right: .5rem;
}



.home{
    border: 2px solid black;
    min-height: 80vh;
}

.card-img-top{
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    height: 80%;
}

.btn-liked{
    color: #f03566;
  }

.btn-bookmarked{
    background: #ffff;
}

.btn-sign-in{
    background-color: #e94135;
    color: #ffff;
}

/* .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover; 3£££££$$""$%^&&*()__++££#####
} */

/* select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.rating  {
    font-family: 'Font Awesome 5 Free', 'Arial';
  }